$black: #000; // Black
$white: #f8f8f8; // White

$red-600: #b7253d !default; // Deep Carmine
$red-500: #df405a !default; // Cerise
$blurple-600: #3a277d; // Iris
$blurple-500: #58D9BA; // Brand purple
$blurple-400: #30ddef; // Medium slate blue
$blurple-300: #30ddef; // Faded Blue
$grey-600: #3a277d; // Trout
$grey-100: #f8f8f8; // Topaz

$success-green: #58D9BA !default; // Padua
$error-red: $red-500 !default; // Cerise
$warning-red: #f65055 !default; // Sunset Orange
$gold-star: #30ddef !default; // Dark Goldenrod

$red-bookmark: #f8f8f8;

// Values from the classic Mastodon UI
$classic-base-color: #170941;         // darker purple
$classic-primary-color: #58D9BA;      // highlight green
$classic-secondary-color: #30ddef;    // link color
$classic-highlight-color: $blurple-500;
$ui-button-icon-hover-background-color: #3a277d !default;    // lighter purple

$ui-button-disabled-color: #170941 !default;

@use '../mastodon/variables' with (
  $red-600: $red-600,
  $red-500: $red-500,
  $blurple-600: $blurple-600,
  $blurple-500: $blurple-500,
  $blurple-400: $blurple-400,
  $blurple-300: $blurple-300,
  $grey-600: $grey-600,
  $grey-100: $grey-100,

  $success-green: $success-green,
  $error-red: $error-red,
  $warning-red: $warning-red,
  $gold-star: $gold-star,

  $red-bookmark: $red-bookmark, 

  $classic-base-color: $classic-base-color,
  $classic-primary-color: $classic-primary-color,
  $classic-secondary-color: $classic-secondary-color,
  $classic-highlight-color: $classic-highlight-color,
  $ui-button-icon-hover-background-color: $ui-button-icon-hover-background-color,

  $ui-button-disabled-color: $ui-button-disabled-color,
);
