@import 'colorwave_variables';
@import 'application';

@font-face {
  font-family: 'galyon';
  src: local('Galyon'),
    url('../fonts/galyon/Galyon-Regular.woff') format("woff"),
    url('../fonts/galyon/Galyon-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'galyon';
  src: local('Galyon Italic'),
    url('../fonts/galyon/Galyon-Italic.woff') format("woff"),
    url('../fonts/galyon/Galyon-Italic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'galyon';
  src: local('Galyon Bold'),
    url('../fonts/galyon/Galyon-Bold.woff') format("woff"),
    url('../fonts/galyon/Galyon-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'vcr';
  src: local("VCR OSD Mono"), 
    url('../fonts/VCR_OSD_MONO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, .ui {
    background: linear-gradient(45deg,rgb(255,198,222) 0%, rgb(198,198,255) 50%, rgb(198,255,222) 100%);
    font-family: galyon, Helvetica, sans-serif;
}

.drawer__header, .search__input, .drawer__inner, .column-header, .column-header__button, .column > .scrollable, .notification__filter-bar button, .column-back-button, .column-header__button.active, .column-header__back-button, .empty-column-indicator, .error-column, .account__header__image, .account__header__bar, .account__header__fields dt, .getting-started__wrapper, .getting-started, .flex-spacer, .account__header__bar .avatar .account__avatar, .notification__filter-bar, .account__section-headline, .column-header__collapsible-inner, .column-link, .drawer__inner__mastodon, .table-of-contents, .grid-4 .column-1, .nothing-here, .grid-4 .column-3, .landing-page__call-to-action, .public-layout .header, .public-layout .public-account-bio, .activity-stream .entry, .hero-widget__text, .public-layout .public-account-header__image, .public-layout .public-account-header__bar::before, .admin-wrapper .sidebar-wrapper__inner, .admin-wrapper .sidebar-wrapper, .batch-table__toolbar, .regeneration-indicator, .card__img, .card__bar, .card__bar .avatar img, .column-inline-form, .filter-form, .box-widget, .landing .hero-widget__footer, .page-header {
    background: transparent;
}

body.admin {
    background: linear-gradient(45deg,rgb(255,198,222) 0%, rgb(198,198,255) 50%, rgb(198,255,222) 100%);
}

.admin-wrapper .sidebar ul ul, .detailed-status, .reply-indicator, .detailed-status__action-bar, .directory__tag > a, .directory__tag > div {
    background: #00000011;
}

.tabs-bar, .tabs-bar__wrapper, .admin-wrapper .sidebar ul a.selected {
    background: #00000022;
    backdrop-filter: blur(10px);
}

.tabs-bar__link.active, .filters .filter-subset a.selected {
    border-bottom: 2px solid #40177d;
    color: #40177d;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
background: #77f;
}

.notification__filter-bar, .account__section-headline, .detailed-status__action-bar {
	border: 0;
}

.column-back-button {
    color: #000;
    background: #77f;
}

.status__content__spoiler-link, .public-layout .header .nav-button, .flash-message {
    background: #00000011;
}

.account__header__bar .avatar .account__avatar {
    border: 2px groove #fff;
}

.status {
    border-width: 0px;
}

div.quote {
    border: groove #fff 2px;
    margin-left: 15px;
    padding: 5px;
}

pre {
    border: groove #fff 2px;
    font-family: monospace;
    padding: 5px;
}

@media screen and (min-height: 640px) {
  .drawer__inner__mastodon > img {
  //display: block;
  //-moz-box-sizing: border-box;
  //box-sizing: border-box;
  background: url("~images/colorwave_mascot.png") no-repeat;
  //width: 372px; 
  height: 80%; 
  padding-left: 100%;
  background-size: contain;
  margin-top: 20%;
  }
}

.public-layout .public-account-header__bar .avatar img {
    border-radius: 0;
    border: 4px groove #fff;
    background: transparent;
}

.public-layout .public-account-header__image::after, .page-header {
    box-shadow: none;
}

.public-layout .public-account-header__tabs__name h1 {
    text-shadow: 3px 3px 0px #fff;
    letter-spacing: 3px;
}

.admin-wrapper .content-wrapper, .dashboard__counters > div > div, .dashboard__counters > div > a {
    background: #00000011;
}

body .muted-hint a, .admin-wrapper .content .muted-hint a {
    color: #40177d;
}

.flash-message.notice {
    background: rgba(166, 230, 185, 0.25);
}

.account-role, .simple_form .recommended {
    background-color: #ffffff44;
    border: 0;
}

.dropdown-menu, .dropdown-menu__item a {
    background: #bebebe;
}

.dropdown-menu__arrow.bottom {
    border-bottom-color: #bebebe;
}

.button {
    font-family: vcr, Consolas, monospace;
    font-size: 1.3em;
}

.button.logo-button {
    font-size: 1.1em;
}

.column-header, .column-header > button {
    font-size: 1.2em;
    font-family: vcr, Consolas, monospace;
}

.batch-table__row, .table > thead > tr > th, .table th, .table td, .table > tbody > tr:nth-child(2n+1) > td, .table > tbody > tr:nth-child(2n+1) > th {
   background-color: transparent;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff90;
    border-style: solid;
}

.compose-form .compose-form__modifiers .compose-form__upload__actions .icon-button {
    color: #bebebe;
}

.actions-modal, .block-modal, .boost-modal, .confirmation-modal, .mute-modal, .report-modal, .compare-history-modal {
    background: linear-gradient(315deg,rgb(255,198,222) 0%, rgb(198,198,255) 50%, rgb(198,255,222) 100%);
  border-radius: 0px;
  border: 2px groove #fff;
}

.compose-form .autosuggest-textarea__suggestions.autosuggest-textarea__suggestions--visible {
  background: #bebebe;
}

.report-modal__container, .report-dialog-modal__container {
    border-top: 1px solid #ffffff90;
}

.focal-point, .focal-point canvas, .focal-point img, .focal-point video {
    background: transparent;
}

.report-modal__comment {
    border-right: 1px solid #ffffff90;
}

.emoji-mart-bar:first-child, .emoji-mart-search input {
    background: #fff;
}

.emoji-mart-category .emoji-mart-emoji:hover::before {
    background: linear-gradient(45deg,rgb(255,198,222) 0%, rgb(198,198,255) 50%, rgb(198,255,222) 100%);
}

.autosuggest-textarea__suggestions--visible:active, .autosuggest-textarea__suggestions--visible.active, .autosuggest-textarea__suggestions:active, .compose-form .autosuggest-textarea__suggestions__item.selected, .compose-form .autosuggest-textarea__suggestions__item:active, .compose-form .autosuggest-textarea__suggestions__item:focus, .compose-form .autosuggest-textarea__suggestions__item:hover
  {
    background-color: #77f;
  }
  
.compose-form .compose-form__warning, .status.status-direct:not(.read) {
    background: #ffffff40;
}

.directory__card__extra, .status-card__image {
    background: transparent;
}

.directory__card__bar {
    background: #00000011;
}

.directory__card {
    border: 2px groove #fff;
}

//.directory__card__extra .account__header__content, .status.status-direct:not(.read) {
//    border-bottom: 1px solid #ffffff90;
//}

.account__header__fields .verified {
    background: rgba(166, 230, 185,.25);
}

.status-card.compact {
    border: 2px groove #fff;
}

.block-modal__action-bar, .boost-modal__action-bar, .confirmation-modal__action-bar, .mute-modal__action-bar {
    background: transparent;
}

.conversation--unread {
    background: #00000011;
}

.status__wrapper, .conversation {
    border-width: 1px 1px 0px 1px;
    border-color: #ffffff90;
    border-style: solid;
}

.batch-table__row:nth-child(2n) {
    background: transparent;
}

//10/08/2020

.status-card__actions > div {
    background: rgba(255,255,255,.6);
}

.log-entry {
    background: transparent;
    border-bottom: 1px solid #ffffff90;
}

.announcements-list {
    border: 1px solid #ffffff90;
}

.announcements-list__item {
    background: transparent;
    border-bottom: 1px solid #ffffff90;
}

.announcements-list {
    border: 1px solid #ffffff90;
}

.column-settings__hashtags .column-select__menu {
    background: linear-gradient(315deg,rgb(255,198,222) 0%, rgb(198,198,255) 50%, rgb(198,255,222) 100%);
}

.column-settings__hashtags .column-select__option--is-focused, .column-settings__hashtags .column-select__option--is-selected {
    background: #77f;
}

.announcements {
    background: ffffff40;
}

.announcements__item__range {
    font-family: vcr;
}

.report-card {
    background: #00000011;
}

.log-entry {
    background: transparent;
    border-bottom: 1px solid #ffffff90;
}

.announcements-list {
    border: 1px solid #ffffff90;
}

.announcements-list__item {
    background: transparent;
    border-bottom: 1px solid #ffffff90;
}

.announcements-list {
    border: 1px solid #ffffff90;
}

.column-settings__hashtags .column-select__menu {
    background: linear-gradient(315deg,rgb(255,198,222) 0%, rgb(198,198,255) 50%, rgb(198,255,222) 100%);
}
// diferente das sugestões de hashtags da postagem porque tem um texto padrão cinza de 'nenhuma hashtag encontrada' com cor bem parecida com a cor cinza do menu padrão

.column-settings__hashtags .column-select__option--is-focused, .column-settings__hashtags .column-select__option--is-selected {
    background: #77f;
}

.announcements {
    background: ffffff40;
}

.announcements__item__range {
    font-family: vcr;
}

.report-card {
    background: #00000011;
}

.notification__favourite-icon-wrapper .star-icon, .star-icon.active {
    color: white;
}

.detailed-status__application, .detailed-status__datetime {
    font-size: 0.9em;
}

.layout-multiple-columns .dropdown-menu {
    position: fixed;
}

//11/08/2020

.admin-account-bio .account__header__content, .admin-account-bio .account__header__fields {
    background: #ffffff40;
}

.account__header__fields dl {
    border-bottom: 1px solid hsla(0,0%,100%,.56);
}

.poll__input, .report-dialog-modal .dialog-option .poll__input {
    border: 1px solid #fff;
}

.poll__input:hover, .report-dialog-modal .dialog-option .poll__input:hover {
    border-color: #ffffff90;
}

.poll__input.active, .report-dialog-modal .dialog-option .poll__input.active {
    border: 0;
    background: linear-gradient(180deg, rgba(246,64,255,1) 0%, rgba(255,177,56,1) 30%, transparent 30%, transparent 40%, rgba(255,177,56,1) 40%, rgba(255,177,56,1) 50%, transparent 50%, transparent 60%, rgba(255,177,56,1) 60%, rgba(255,246,198,1) 70%, transparent 70%, transparent 80%, rgba(255,246,198,1) 80%, rgba(255,246,198,1) 100%);
}

.button.button-secondary {
    background: #00000011;
    border: 0px;
}

.poll__chart {
    background: #ffffff90;
}

//13/08/2020

.account__header__bio .account__header__fields, .account__header__fields, .account__header__bar, .account, .admin-wrapper .content hr, .report-dialog-modal .poll__option.dialog-option, .dimension__item {
    border-color: #ffffff90;
}

.account__section-headline a.active::after, .account__section-headline a.active::before, .account__section-headline button.active::after, .account__section-headline button.active::before, .notification__filter-bar a.active::after, .notification__filter-bar a.active::before, .notification__filter-bar button.active::after, .notification__filter-bar button.active::before {
    border-color: transparent transparent #ffffff90;
}

.star-icon.active .fa-star:before, .notification__favourite-icon-wrapper .star-icon, .star-icon.active {
    text-shadow: 2px 2px 1px magenta;
}

.admin-wrapper .content-heading {
    border-bottom: 1px solid #ffffff40;
}

//15/08/2020

.notification {
    border: 1px solid #ffffff90;
    border-bottom: 0px;
}

.notification .status__wrapper {
    border: 0;
}

.batch-table__form {
    background: transparent;
}

//20/08/2020

.compose-form__poll-wrapper {
    background: #c3c3c3;
}

.poll__input:active, .poll__input:focus, .report-dialog-modal:active .dialog-option .poll__input:focus {
    border-color: #40177d;
}

//21/11/2020

.batch-table__toolbar {
    border: 1px solid hsla(0,0%,100%,.56);
    border-radius: 0px;
}

.batch-table__row:first-child {
    border-top: 0px;
}

.batch-table__row:nth-child(2n) {
    border-top: 0px;
    border-bottom: 0px;
}

.batch-table__row:last-child {
    border-bottom: 1px solid hsla(0,0%,100%,.56);
}

.batch-table .nothing-here {
    border-color: hsla(0,0%,100%,.56);
}

.icon-with-badge__badge {
    border: 0px solid transparent;
}

//28/12/2020

.admin-wrapper .content h4 {
    border-color: hsla(0,0%,100%,.56);
}

.icon-button.bookmark-icon.active {
    color: #fff;
    text-shadow: 2px 2px 1px #00f;
}

.icon-button.star-icon.active, .notification__favourite-icon-wrapper .star-icon {
    color: #fff;
}

.notification.unread::before, .status__wrapper.unread::before {
    border-left-style: groove;
}

.picture-in-picture__footer, .picture-in-picture__header {
  border-radius: 0;
}

.picture-in-picture {
    border: 2px groove #dfdfdf;
}

.picture-in-picture__header {
    background: linear-gradient(90deg, #ffc6de,#c6c6ff,#c6ffde);
}

.picture-in-picture-placeholder {
    border: 2px groove #fff;
    background: transparent;
}

.picture-in-picture-placeholder:active, .picture-in-picture-placeholder:focus, .picture-in-picture-placeholder:hover {
    border: 2px dashed hsla(0,0%,100%,.56);
}


//12/05/2022, 3.5.2


.empty-column-indicator, .error-column, .follow_requests-unlocked_explanation {
	color: #222;
}

.follow_requests-unlocked_explanation a, .empty-column-indicator a, .error-column a {
	color: #2929FF;
}

.report-dialog-modal {
background: linear-gradient(315deg, rgb(255, 198, 222) 0%, rgb(198, 198, 255) 50%, rgb(198, 255, 222) 100%);
border-radius: 0px; 
border: 2px groove #fff; }

.flash-message.warning {
  color: #222;
}

.account {
    border-bottom: 0;
}

.report-dialog-modal .dialog-option .poll__input {
    color: #40177d;
}

.sparkline {
    background: #0001;
}

.button:active, .button:focus, .button:hover, .dashboard__quick-access:active, .dashboard__quick-access:focus, .dashboard__quick-access:hover {
    color: #fff;
}

.filters .filter-subset a {
	border-color: #fff;
}

.filters .filter-subset a:hover {
    border-color: #77f;
}

.reply-indicator__content .status__content__spoiler-link, .status__content .status__content__spoiler-link {
	background: #0002;
}

.reply-indicator__content .status__content__spoiler-link:focus, .reply-indicator__content .status__content__spoiler-link:hover, .status__content .status__content__spoiler-link:focus, .status__content .status__content__spoiler-link:hover {
    background: #fff7;
}

.scrollable .account-card {
  background: #0001;
}


// 20/05/2022

.scrollable .account-card__title__avatar .account__avatar, .scrollable .account-card__title__avatar img {
    border: 2px groove #fff;
    border-radius: 0;
}

.scrollable .account-card__bio::after {
  background: url("~images/palmeiras.png") no-repeat;
  }

  // 22/05/2022

  .batch-table__row--attention, .batch-table__row--attention .accounts-table, .batch-table__row--attention .accounts-table__count, .batch-table__row--attention .accounts-table__count small, .batch-table__row--attention .accounts-table a, .batch-table__row--attention .accounts-table strong, .batch-table__row--attention .accounts-table tbody td.accounts-table__extra, .batch-table__row--attention .name-tag, .batch-table__row--attention .name-tag a, .batch-table__row--attention .name-tag strong, .batch-table__row--attention .pending-account__header, .batch-table__row--attention .pending-account__header a, .batch-table__row--attention .pending-account__header strong {
  color: #991B00;
}

// 31/05/2022 3.5.3

.language-dropdown__dropdown__results__item:active, .language-dropdown__dropdown__results__item:focus, .language-dropdown__dropdown__results__item:hover {
  background: #bebebe;
}

.language-dropdown__dropdown__results__item.active:hover, .language-dropdown__dropdown__results__item.active:focus {
  background: #77f9;
}

// 11/11/2022

.dropdown-menu__item a, .dropdown-menu__item button {
	background: #bebebe;
	}
	
.compose-form .compose-form__modifiers .compose-form__upload .icon-button {
  color: #fff;
}

.compose-form .compose-form__modifiers .compose-form__upload .icon-button:active, .compose-form .compose-form__modifiers .compose-form__upload .icon-button:focus, .compose-form .compose-form__modifiers .compose-form__upload .icon-button:hover {
  color: #fff;
}

// 14/11/2022

.compare-history-modal .report-modal__target {
  background: #40177d;
  color: #fff;
  text-align: left;
}

.compare-history-modal .report-modal__target .icon-button {
  color: #fff;
}

.compare-history-modal .report-modal__target .icon-button:hover, .compare-history-modal .report-modal__target .icon-button:focus {
  color: #000;
  background: #bebebe;
  border-radius: 0;
  border: 2px inset #eee;
}

// 23.02.23 Hometown

.link-footer p {
  color: #222;
}

.link-footer p a {
  color: #5d21b5;
}

.column-link--transparent.active:hover, .column-link--transparent.active:focus, .column-link--transparent.active:active {
  color: #000080;
}

.navigation-panel hr, .trends__item {
    border-color: #ffffff90;
}
.column-link--transparent:hover, .column-link--transparent:focus, .column-link--transparent:active {
    background: #8181ff;
    }

@media screen and (max-width: 1174px) {
    .columns-area__panels__pane--navigational .navigation-panel {
        border-left: 0px;
     }
    .navigation-panel hr, .column-link--button {
        border-color: #222;
    }
    #navigation-panel__publish.active i {
        background-color: #000080;
        color: #fff;
    }
    #navigation-panel__publish.active {
        color: #000080;
    }
}

.public-layout .footer ul a, .public-layout .footer .legal-xs a, .public-layout .footer .grid .column-2 h4 a {
  color: #40177d;
}

.public-layout .footer {
  color: #222;
}

.public-layout .footer h4 {
  color: #000;
}

.trends__item--disabled .trends__item__current, .trends__item--disabled .trends__item__name, .trends__item--disabled .trends__item__name a {
  color: #222c;
}

.announcements-list__item__meta, .filters-list__item__meta {
  color: #000;
}

.announcements-list__item__meta a, .filters-list__item__meta a {
  color: #40177d;
}

.admin-wrapper .sidebar .logo h2 .brand {
  border-bottom: 0;
}

.dismissable-banner {
    border: 0px;
}

.column-subheading {
  color: #000;
  background: #0001;
}

