// Dependent colors
$black: #000000;
$white: #ffffff;

$classic-base-color: #283832;
$classic-primary-color: #99c6b5;
$classic-secondary-color: #c7f9e6;
$classic-highlight-color: #2bd8b3;

// Differences
$success-green: #3c754d;
$ui-base-color: $classic-secondary-color;

$blurple-600: hsl(169,58.9%,51.4%); // Iris at 169
$blurple-500: hsl(169,100%,42.9%); // darkened brand purple at 
$blurple-400: hsl(157,97.2%,72.4%); // Medium slate blue at 157
$blurple-300: hsl(157,92.1%,75.1%); // Faded Blue at 
$grey-600: hsl(157deg, 8%, 33%); // Trout at 157
$grey-100: hsl(157deg, 51%, 90%); // Topaz at 

@use 'mastodon/variables' with (
  $classic-base-color: $classic-base-color,
  $classic-primary-color: $classic-primary-color,
  $classic-secondary-color: $classic-secondary-color,
  $classic-highlight-color: $classic-highlight-color,
  
  //4.5 values
  $blurple-600: $blurple-600,
  $blurple-500: $blurple-500,
  $blurple-400: $blurple-400,
  $blurple-300: $blurple-300,
  $grey-600: $grey-600,
  $grey-100: $grey-100,

  // Differences
  $success-green: $success-green,

  $base-overlay-background: $white,
  $valid-value-color: $success-green,

  $ui-base-color: $ui-base-color,
  $ui-base-lighter-color: #afcec2,
  $ui-primary-color: #9aedcd,
  $ui-secondary-color: $classic-base-color,
  $ui-highlight-color: #00827D,

  $primary-text-color: $black,
  $darker-text-color: $classic-base-color,
  $dark-text-color: #435b52,
  $action-button-color: #60847e,

  $inverted-text-color: $black,
  $lighter-text-color: $classic-base-color,
  $light-text-color: #435b57,

  $emojis-requiring-inversion: 'chains',
);

@use 'application';
@use 'mastodon-light/diff';

// tons (hues) usados neste tema: 157, 169

body {
	background-color: hsl(157deg, 51%, 90%);
} // apenas para configs/admin

// deixar cor de mídia escondida sem blurhash diferente do fundo, mas sem deixar muito escura

.spoiler-button__overlay, .media-gallery__preview {
    background: #e0f4eb;
}

.ui {
  background-image: repeating-linear-gradient(180deg, #e5fffa 0px, #e5fffa 65px, #b8efe5 65px, #b8efe5 130px);
  background-attachment: fixed;
}

.drawer__inner {
    background: transparent;
    border: 0;
}

.drawer__inner__mastodon {
    background: transparent;
}

.search__input, .announcements, .status.status-direct:not(.read) {
    background: #eff9f5;
}

pre {
    border-radius: 4px;
    padding: 5px;
    font-family: monospace;
}

div.quote, .reply-indicator__content .status__content__text blockquote, .status__content .status__content__text blockquote {
	border: 0px;
//    border-left: 3px solid #00827d;
//    padding: 5px 0px 5px 7px;
//    margin-left: 10px;
}


// borda em botões de reação de anúncios e avisos de conteúdo, pra aumentar visibilidade

.reply-indicator__content .status__content__spoiler-link, .status__content .status__content__spoiler-link, .reactions-bar__item {
    border: 1px solid #283832aa;
}


// melhoras no menu da interface de somente uma coluna

.navigation-panel {
    background: #f7fcfa77;
}

.column-link--transparent:hover, .column-link--transparent:focus, .column-link--transparent:active {
    background: #00827D;
    color: #fff;
}

// cópia modificada de footer.scss pra mudar cores dos links

.public-layout {
    .grid {
      .column-2 {
        h4 a {
          color: inherit;
        }
      }

    ul a {
      color: lighten($ui-base-color, 58%);
    }

    .brand {
      svg {
        display: block;
        height: 36px;
        width: auto;
        margin: 0 auto;
        fill: lighten($ui-base-color, 58%);
      }

      &:hover,
      &:focus,
      &:active {
        svg {
          fill: lighten($ui-base-color, 48%);
        }
      }
    }
  }
}

// Aumentar legibilidade do seletor de tempo de enquetes

.compose-form__poll-wrapper select {
	border-color: #60847e;
}

.compose-form__poll-wrapper select {
    background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='%2360847e'/></svg>") no-repeat right 8px center/auto 16px;
}

// Aumentar legibilidade em outros menus

.simple_form select {
    background: #f5fefb url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='%2360847e'/></svg>") no-repeat right 8px center/auto 16px;
}

// Aumentar legibilidade do campo de busca

.search__input:focus {
    background: #fff;
    border-color: #60847e;
}

// Coluna de hashtags, como sempre

.column-settings__hashtags .column-select__control {
    background: #eff9f5;
}

.column-settings__hashtags .column-select__control:focus {
    background: #fff;
}

.column-settings__hashtags .column-select__option--is-focused, .column-settings__hashtags .column-select__option--is-selected {
    background: #00827d;
    color: #fff;
}

.column-settings__hashtags .column-select__menu {
    background: #e3fcf2;
}

// Aumentar legibilidade da barra de rolagem

::-webkit-scrollbar-thumb {
    background: #2bd8b3;
}

::-webkit-scrollbar-thumb:hover {
    background: #60847e;
}

::-webkit-scrollbar-thumb:active {
    background: #435b52;
}

html {
    scrollbar-color: #2bd8b3 rgba(199, 249, 230, 0.5);
}

// Aumentar legibilidade de autocomplete de hashtags/emojis

.autosuggest-textarea__suggestions--visible:active, .autosuggest-textarea__suggestions--visible.active, .autosuggest-textarea__suggestions:active, .compose-form .autosuggest-textarea__suggestions__item.selected, .compose-form .autosuggest-textarea__suggestions__item:active, .compose-form .autosuggest-textarea__suggestions__item:focus, .compose-form .autosuggest-textarea__suggestions__item:hover
{
    background-color: #00827d;
    color: #fff;
}

.compose-form .autosuggest-textarea__suggestions__item.selected .autosuggest-account .display-name__account  {
        color: #d9fbee;
}

.compose-form .autosuggest-textarea__suggestions__item:hover .autosuggest-account .display-name__account, .compose-form .autosuggest-textarea__suggestions__item:active .autosuggest-account .display-name__account, .compose-form .autosuggest-textarea__suggestions__item:focus .autosuggest-account .display-name__account  {
        color: #d9fbee;
}

// Aumentar contraste de elementos originalmente verde claros em fundo claro

.block-modal__cancel-button, .confirmation-modal__cancel-button, .confirmation-modal__secondary-button, .mute-modal__cancel-button {
  color: #666;
}

.poll__chart {
  box-shadow: 1px 1px 1px #666;
}

.compose-form .compose-form__warning {
  background-color: rgba(255,255,255,.9);
}

// Deixar ícones ativos mais distintos de inativos

.icon-button.active {
  background: linear-gradient(135deg, #BCF0E4, #BCF0E4 20%, #e5fffa 20%, #e5fffa 40%, #BCF0E4 40%, #BCF0E4 60%, #e5fffa 60%, #e5fffa 80%, #BCF0E4 80%, #BCF0E4 100%);
}

// Não colocar esse fundo no texto de marcar mídia como sensível

.compose-form__sensitive-button .icon-button.active {
  background: transparent;
}

// Modificações no negócio de notificações novas no modo pra celular (padrão é texto escuro no fundo escuro e borda colorida clara)
// edit 11/2024: mudaram padrão pra texto claro

.icon-with-badge__badge {
  background: #00827d;
  border-color: #c7f9e6;
}

//28/12/2020

.video-player__download__icon.player-button.status-link.unhandled-link i.fa.fa-download.fa-fw {
  color: #a2f5d6;
}

.video-player__download__icon.player-button.status-link.unhandled-link i.fa.fa-download.fa-fw:hover, .video-player__download__icon.player-button.status-link.unhandled-link i.fa.fa-download.fa-fw:focus {
  color: #fff;
}

.picture-in-picture-placeholder {
   border-color: #00827d;
   color: #00827d;
}

.picture-in-picture-placeholder:active, .picture-in-picture-placeholder:focus, .picture-in-picture-placeholder:hover {
   border-color: #004f4c;
   color: #000;
}

// 12/05/2022

.public-layout .footer .grid .column-2 h4 a {
  color: #0f895b;
}

.public-layout .footer .grid .column-2 h4 a:hover {
  color: #14b879
}

.public-layout .footer {
  color: #000;
}

// 22/05/2022

.batch-table__row--attention, .batch-table__row--attention .accounts-table, .batch-table__row--attention .accounts-table__count, .batch-table__row--attention .accounts-table__count small, .batch-table__row--attention .accounts-table a, .batch-table__row--attention .accounts-table strong, .batch-table__row--attention .accounts-table tbody td.accounts-table__extra, .batch-table__row--attention .name-tag, .batch-table__row--attention .name-tag a, .batch-table__row--attention .name-tag strong, .batch-table__row--attention .pending-account__header, .batch-table__row--attention .pending-account__header a, .batch-table__row--attention .pending-account__header strong {
  color: #A50;
}

// 31/05/2022 3.5.3

.language-dropdown__dropdown__results__item .language-dropdown__dropdown__results__item__common-name {
  color: #00827d;
}

// 17/11/2024

.button, .simple_form .block-button, .simple_form .button, .simple_form button, .simple_form .btn {
  color: #fff;
  background: #00827d;
  border-color: #00827d;
}

.button:hover, .button:focus, .simple_form .block-button:hover, .simple_form .button:hover, .simple_form button:hover, .simple_form .block-button:focus, .simple_form .button:focus, .simple_form button:focus simple_form .btn:hover, simple_form .btn:focus {
  background: #004f4c;
  border-color: #004f4c;
}

.button.button-secondary {
  border-color: #00827d;
  color: #00827d;
  background: #c7f9e6;
}

.button.button-secondary:hover, .button.button-secondary:focus {
  color: #fff;
  background: #00827d;
  border-color: #00827d;
}

//4.5 stuff

.flash-message, .simple_form .recommended {
	background-color: #28383211;
	color: #283832;
	border-color: #283832;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
	color: #000;
	font-weight: 700;
}

.simple_form input[type="text"], .simple_form input[type="number"], .simple_form input[type="email"], .simple_form input[type="password"], .simple_form input[type="url"], .simple_form input[type="datetime-local"], .simple_form textarea {
	background-color: #f7fcfa;
}

.dashboard__quick-access {
	color: #000;
	background-color: #a2f5d6;
}

.column > .scrollable {
  background: #f7fcfa;
}

.column-header {
	border-color: transparent;
}

.notification__filter-bar, .account__section-headline {
  background-color: #f7fcfa;
}

.account__avatar {
	background: transparent;
}

// 24/06/26 4.5 stuff cont

.column-link.active {
	color: #00827d;
}

.compose-form .autosuggest-textarea__textarea, .compose-form .spoiler-input__input, .filter-form {
  color: #000;
  background: #f7fcfa;
}

.compose-form__highlightable {
  background: #f7fcfa77;
}

.dropdown-button, .compose-form__actions .icon-button {
	border-color: #00827d;
	color: #00827d;
}

.dropdown-button:hover, .dropdown-button:focus, .compose-form__actions .icon-button:hover, .compose-form__actions .icon-button:focus, .compose-form__actions .icon-button:active {
	background-color: #00827d;
	color: #fff;
}

.language-dropdown__dropdown .emoji-mart-search, .language-dropdown__dropdown .emoji-mart-scroll, .emoji-picker-dropdown__menu {
	background-color: #f7fcfa;
}

.emoji-mart-search input, .language-dropdown__dropdown .emoji-mart-search input, .poll__option input[type="text"] {
	background-color: #d9fbee;
}

.emoji-mart-category .emoji-mart-emoji:hover::before {
	background-color: hsl(169,58.9%,51.4%);
}

.dialog-modal {
	background: #eff9f5;
}

.admin-wrapper .sidebar-wrapper__inner {
  background: #f7fcfa;
}

.admin-wrapper .sidebar ul ul {
	background-color: #d8f3e9;
}

// quotes quotes quotes

.status--is-quote {
	background-color: #eff9f5;
}

blockquote.quote {
	color: #004f4c;
}

.status__content__text blockquote::before, .e-content blockquote::before, .edit-indicator__content blockquote::before, .reply-indicator__content blockquote::before {
	background-color: hsl(169,58.9%,51.4%);
}

.compose-form .spoiler-input__border {
	display: none;
}

// in-prod changes

.column-link.active:hover, .column-link.active:focus {
	color: #fff;
}

.safety-action-modal__top, .safety-action-modal__bottom {
	background-color: #f7fcfa;
}

.safety-action-modal__status {
	border-color: #00827d;
}

.button.button-secondary.button--destructive:active, .button.button-secondary.button--destructive:focus, .button.button-secondary.button--destructive:hover {
  background-color: #fff;
}

.follow_requests-unlocked_explanation a, .switch-to-advanced a {
	border-color: #00827d;
}
